<article>
  <mat-toolbar color="primary">
    <h1>Gestão de documentos</h1>
  </mat-toolbar>
  <mat-card>
    <mat-card-title>Setores</mat-card-title>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let setor of setores"
          (opened)="getPastas(setor)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{setor.nome}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let pasta of pastas">
            <a *ngIf="setor.id == pasta.setor?.id"
              [routerLink]="['/setores',setor.id,'pastas',pasta.id,'documentos']">
              {{pasta.nome}}
            </a>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer>
    <p>&copy; exercício java angular 2022</p>
  </footer>
</article>
